.even{
    background-color: steelblue;
    color: white;
}

.odd{
    background-color: tomato;
    color: white;
}

.content-class{
    display: flexbox;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding : 0px;
}